body {
    font-family: sans-serif;
    background-color: rgb(248, 236, 225);
}

img{
    width: 300px;
}
div{
    display: flex;
}
h1,li,a {
    color: rgb(208, 167, 137);
}
img:hover{
    transform: scale(2);
    transition: all 1s linear;
}
a:hover, h1:hover{
    color:rgb(210, 132, 76); 
}
li{ 
 font-size: 20px;
}
h1{
    text-align: center;
}
